openapi: 3.0.2
info:
    title: Tugboat API
    version: '3.4.0'
    contact:
        name: Tugboat Support
        url: https://www.tugboatqa.com/support
        email: support@tugboatqa.com
    termsOfService: https://www.tugboatqa.com/terms
    x-logo:
        url: https://assets.tugboatqa.com/logo/logo_horizontal_dark.svg
        href: '#'
        altText: Tugboat
    description: |
        # Authentication

        All API requests require authentication. A `401 Unauthorized` is returned if authentication is invalid or
        omitted.

        A `404 Not Found` is returned for both legitimate "Not Found" situations, as well as for "Permission Denied"
        situations. This is done to prevent accidental leakage of private information.

servers:
    - url: https://api.tugboatqa.com/v3

tags:
    - name: Compatibility

      ##  Parts of a tugboat are used as compatibility flags for API changes that break backward compatibility
      ##  These flags are currently in use:
      ##
      ##    - Accept: application/vnd.tugboat.propeller+json
      ##      Formats Repo envvars as the newer array of objects, instead of an array of strings

      description: |
          The HTTP API major version is used to access the API, such as `/v3`. Backward compatibility is maintained
          between major versions.

          New features or bug fixes may be added as minor versions over time. When this introduces a backward
          incompatibility, the original functionality will be maintained by default. The new functionality can be
          accessed by passing an `Accept` header with the right compatibility flag enabled. These instances are clearly
          identified in this document.

          Deprecated features will continue to function as expected until the next major version, and are clearly
          identified in this documentation.

paths:
    /version:
        get:
            summary: API Version
            tags:
                - Compatibility
            x-code-samples:
                - lang: Shell
                  source: |
                      curl https://api.tugboatqa.com/v3/version
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat version
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    api:
                                        type: string
                                        description: The API version
                                        example: '3.1'
                                    server:
                                        type: string
                                        description: The Tugboat Server version
                                        example: 2.20.1

    ### Keys

    /keys:
        get:
            summary: List API Keys
            description: Returns an array of API Keys that belong to the authenticated user
            tags:
                - API Keys
            security:
                - API Key: []
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                          https://api.tugboatqa.com/v3/keys
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat list keys
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Key'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'

        post:
            summary: Create an API Key
            description: Creates a new API Key for the authenticated user
            tags:
                - API Keys
            security:
                - API Key: []
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Key'
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           -H "Content-Type: application/json" \
                           -X POST -d '{ "name": "My API Key" }' \
                           https://api.tugboatqa.com/v3/keys
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat create key name="My API Key"
            responses:
                201:
                    description: Successfully created a new API Key
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NewKey'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'

    /keys/{id}:
        get:
            summary: Get an API Key
            description: |
            tags:
                - API Keys
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the API Key
                  schema:
                      $ref: '#/components/schemas/KeyId'
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           https://api.tugboatqa.com/v3/keys/5d9b5bfb52163ce4e1508c07
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat list 5d9b5bfb52163ce4e1508c07
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Key'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                404:
                    description: Unknown API Key
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownKeyError'

        patch:
            summary: Update an API Key
            description: |
            tags:
                - API Keys
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the API Key
                  schema:
                      $ref: '#/components/schemas/KeyId'
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Key'
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           -H "Content-Type: application/json" \
                           -X PATCH -d '{ "name": "My Updated API Key" }' \
                           https://api.tugboatqa.com/v3/keys/5d9b5bfb52163ce4e1508c07
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat update 5d9b5bfb52163ce4e1508c07 name="My Updated API Key"
            responses:
                200:
                    description: Successfully updated the API Key
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Key'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                404:
                    description: Unknown API Key
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownKeyError'

        delete:
            summary: Delete an API Key
            description: |
            tags:
                - API Keys
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the API Key
                  schema:
                      $ref: '#/components/schemas/KeyId'
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           -X DELETE \
                           https://api.tugboatqa.com/v3/keys/5d9b5bfb52163ce4e1508c07
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat delete 5d9b5bfb52163ce4e1508c07
            responses:
                204:
                    description: Successfully deleted the API Key
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                404:
                    description: Unknown API Key
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownKeyError'

    ### Objects
    /objects/{id}:
        get:
            summary: Get a Tugboat object
            description: |
            tags:
                - Objects
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Tugboat Object
                  schema:
                      $ref: '#/components/schemas/ObjectId'
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           https://api.tugboatqa.com/v3/objects/5d810c19f6f8203d5b65ef01
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat find 5d810c19f6f8203d5b65ef01
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Object'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                404:
                    description: Unknown Object

    ### Projects

    /projects:
        get:
            summary: List Projects
            description: Returns an array of Projects that the authenticated user has access to
            tags:
                - Projects
            security:
                - API Key: []
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                          https://api.tugboatqa.com/v3/projects
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat list projects
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Project'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'

    /projects/{id}:
        get:
            summary: Get a Project
            description: |
            tags:
                - Projects
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Project
                  schema:
                      $ref: '#/components/schemas/ProjectId'
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           https://api.tugboatqa.com/v3/projects/5d810c19f6f8203d5b65ef01
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat list 5d810c19f6f8203d5b65ef01
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Project'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                404:
                    description: Unknown Project
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownProjectError'

        patch:
            summary: Update a Project
            description: |
            tags:
                - Projects
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Project
                  schema:
                      $ref: '#/components/schemas/ProjectId'
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Project'
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           -H "Content-Type: application/json" \
                           -X PATCH -d '{ "name": "New Project Name" }' \
                           https://api.tugboatqa.com/v3/projects/5d810c19f6f8203d5b65ef01
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat update 5d810c19f6f8203d5b65ef01 name="New Project Name"
            responses:
                200:
                    description: Successfully updated the Project
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Project'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                403:
                    description: Permission Denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PermissionDeniedError'
                404:
                    description: Unknown Project
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownProjectError'

        delete:
            summary: Delete a Project
            description: |
            tags:
                - Projects
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Project
                  schema:
                      $ref: '#/components/schemas/ObjectId'
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           -X DELETE \
                           https://api.tugboatqa.com/v3/projects/5d810c19f6f8203d5b65ef01
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat delete 5d810c19f6f8203d5b65ef01
            responses:
                204:
                    description: Successfully deleted the Project
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                403:
                    description: Permission Denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PermissionDeniedError'
                404:
                    description: Unknown Project
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownProjectError'

    /projects/{id}/repos:
        get:
            summary: Get Project Repositories
            tags:
                - Projects
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Project
                  schema:
                      $ref: '#/components/schemas/ProjectId'
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           https://api.tugboatqa.com/v3/projects/5d810c19f6f8203d5b65ef01/repos
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat list repos project=5d810c19f6f8203d5b65ef01
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Repo'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                403:
                    description: Permission Denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PermissionDeniedError'
                404:
                    description: Unknown Project
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownProjectError'

    /projects/{id}/jobs:
        get:
            summary: Get Project Jobs
            description: |
            tags:
                - Projects
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Project
                  schema:
                      $ref: '#/components/schemas/ProjectId'
                - name: limit
                  in: query
                  description: Return this many of the most recent results
                  schema:
                      type: integer
                - name: children
                  in: query
                  description:
                      Return jobs for the Repositories, Previews, and Services that belong to the Project as well as the
                      Project Jobs
                  schema:
                      type: boolean
                      default: false
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           https://api.tugboatqa.com/v3/projects/5d810c19f6f8203d5b65ef01/jobs
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat list jobs 5d810c19f6f8203d5b65ef01
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/ProjectJob'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                403:
                    description: Permission Denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PermissionDeniedError'
                404:
                    description: Unknown Service
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownProjectError'

    /projects/{id}/statistics/{item}:
        get:
            summary: Get Project Statistics
            description: |
            tags:
                - Projects
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Project
                  schema:
                      $ref: '#/components/schemas/ProjectId'
                - name: item
                  in: path
                  required: true
                  description: The requested type of data
                  schema:
                      $ref: '#/components/schemas/Statistics/properties/item'
                - name: limit
                  in: query
                  description: Return this many of the most recent results, applied after any other filters
                  schema:
                      type: integer
                      default: 20
                - name: before
                  in: query
                  description: Only return results that were gathered at or before this date/time
                  schema:
                      type: string
                      format: date-time
                - name: after
                  in: query
                  description: Only return results that were gathered at or after this date/time
                  schema:
                      type: string
                      format: date-time
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           https://api.tugboatqa.com/v3/projects/5d810c19f6f8203d5b65ef01/statistics/size
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Statistics'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                403:
                    description: Permission Denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PermissionDeniedError'
                404:
                    description: Unknown Service
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownProjectError'

    ### Repositories

    /repos:
        post:
            summary: Create a Repository
            description: |
                ### Bitbucket

                When creating a Bitbucket repository, one of the following sets of `auth` parameters are required. If
                multiple sets are specified, they are tried in the order shown here.

                1. OAuth: `access`
                1. Application Password: `user`, `token`
                1. Username/Password: `user`, `pass`

                When using username/password authentication for a Bitbucket repository , Tugboat **does not** store
                these values. It uses them to acquire an OAuth token from the Bitbucket API, then discards the provided
                username & password values. Username/password authentication cannot be used for Bitbucket accounts with
                2-factor authentication enabled.

                ### GitHub

                When creating a GitHub repository, one of the following sets of `auth` parameters are required. If
                multiple sets are specified, they are tried in the order shown here.

                1. OAuth: `access`
                1. Personal Access Token: `token`

                ### GitLab

                When creating a GitLab repository, one of the following sets of `auth` parameters are required. If
                multiple sets are specified, they are tried in the order shown here.

                1. OAuth: `access`
                1. Personal Access Token: `token`
                1. Username/Password: `user`, `pass`

                When using username/password authentication for a GitLab repository , Tugboat **does not** store these
                values. It uses them to acquire an OAuth token from the GitLab API, then discards the provided username
                & password values.

                ### Stash/Bitbucket Server

                When creating a Stash or Bitbucket Server repository, one of the following sets of `auth`
                parameters are required. If multiple sets are specified, they are tried in the order shown here.

                1. Personal Access Token: `token`
                1. Username/Password: `user`, `pass`

                When using username/password authentication for a Stash or Bitbucket Server repository, Tugboat **DOES
                STORE THESE VALUES** due to limitations on the Stash and Bitbucket Server APIs. If this is the
                authentication method you choose, we recommend setting up a "bot" account on your Stash or Bitbucket
                Server instance for Tugboat.

            tags:
                - Repositories
            security:
                - API Key: []
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - project
                                - provider
                                - repository
                            properties:
                                project:
                                    allOf:
                                        - $ref: '#/components/schemas/ProjectId'
                                    description: The ID of the Project the new Repository belongs to
                                provider:
                                    type: object
                                    required:
                                        - name
                                    description: Information about the provider hosting the repository
                                    properties:
                                        name:
                                            allOf:
                                                - $ref: '#/components/schemas/ProviderName'
                                            description: Which provider is hosting the git repository
                                        address:
                                            type: string
                                            description: |
                                                - **GitHub** - The URL to the GitHub API. Default: https://api.github.com
                                                - **GitLab** - The URL to the GitLab instance. Default: https://gitlab.com
                                                - **Stash/Bitbucket Server (Required)** - The URL to the Bitbucket Server or Stash instance.
                                        app:
                                            type: string
                                            description: |
                                                - **GitLab** - An [OAuth Application ID](https://docs.gitlab.com/ee/integration/oauth_provider.html).
                                                Required when using username/password authentication for a GitLab instance other than https://gitlab.com
                                        secret:
                                            type: string
                                            description: |
                                                - **GitLab** - An [OAuth Application Secret](https://docs.gitlab.com/ee/integration/oauth_provider.html).
                                                Required when using username/password authentication for a GitLab instance other than https://gitlab.com
                                    example:
                                        name: github
                                repository:
                                    type: object
                                    required:
                                        - name
                                    description: Information about the provider repository
                                    properties:
                                        group:
                                            type: string
                                            description: |
                                                - **Bitbucket (Required)** - The Bitbucket repo "owner"
                                                - **GitHub (Required)** - The GitHub repo "owner"
                                                - **GitLab (Required)** - The GitLab repo "namespace"
                                                - **Stash/Bitbucket Server (Required)** - The Stash/Bitbucket Server repo "project"
                                        name:
                                            type: string
                                            description: |
                                                - **Bitbucket (Required)** - The Bitbucket repo "slug"
                                                - **Git (Required)** - The fully qualified Git repo URL
                                                - **GitHub (Required)** - The GitHub repo "repo"
                                                - **GitLab (Required)** - The GitLab repo "project"
                                                - **Stash/Bitbucket Server (Required)** - The Stash/Bitbucket Server repo "slug"
                                        port:
                                            type: string
                                            description: |
                                                - **Stash/Bitbucket Server** - The SSH port to use for git checkouts. Default: 7999
                                    example:
                                        group: TugboatQA
                                        name: demo
                                auth:
                                    type: object
                                    description: Provider authentication information
                                    properties:
                                        token: # API Token or App Password
                                            type: string
                                            description: |
                                                - **Bitbucket** - A Bitbucket application password. Must be paired with a valid `user`
                                                - **GitHub** - A Github personal access token
                                                - **GitLab** - A GitLab personal access token
                                                - **Stash/Bitbucket Server** - A Bitbucket Server personal access token
                                        access: # OAuth Access Token
                                            type: string
                                            description: |
                                                - **Bitbucket** - A Bitbucket OAuth refresh token
                                                - **GitHub** - A GitHub OAuth access token
                                                - **GitLab** - A GitLab OAuth access token
                                        user: # Username/Password/OTP: username
                                            type: string
                                            description: |
                                                - **Bitbucket** - Used for username/password authentication.
                                                - **GitLab** - Used for username/password authentication.
                                                - **Stash/Bitbucket Server** - Used for username/password authentication.
                                        pass: # Username/Password/OTP: password
                                            type: string
                                            description: |
                                                - **Bitbucket** - Used for username/password authentication.
                                                - **GitLab** - Used for username/password authentication.
                                                - **Stash/Bitbucket Server** - Used for username/password authentication.
                                    example:
                                        token: Mae5oghus4eishaeph7ohbei9che2woaDuoxohTh
                                autobuild:
                                    $ref: '#/components/schemas/Repo/properties/autobuild'
                                autobuild_drafts:
                                    $ref: '#/components/schemas/Repo/properties/autobuild_drafts'
                                autodelete:
                                    $ref: '#/components/schemas/Repo/properties/autodelete'
                                autorebuild:
                                    $ref: '#/components/schemas/Repo/properties/autorebuild'
                                autoredeploy:
                                    $ref: '#/components/schemas/Repo/properties/autoredeploy'
                                build_timeout:
                                    $ref: '#/components/schemas/Repo/properties/build_timeout'
                                domain:
                                    $ref: '#/components/schemas/Repo/properties/domain'
                                envvars:
                                    $ref: '#/components/schemas/Repo/properties/envvars'
                                ip_allow:
                                    $ref: '#/components/schemas/Repo/properties/ip_allow'
                                ip_deny:
                                    $ref: '#/components/schemas/Repo/properties/ip_deny'
                                keygen:
                                    allOf:
                                        - $ref: '#/components/schemas/SSHKey'
                                    description: Options to use when generating the SSH key pair for the Repository
                                name:
                                    $ref: '#/components/schemas/Repo/properties/name'
                                provider_comment:
                                    $ref: '#/components/schemas/Repo/properties/provider_comment'
                                provider_deployment:
                                    $ref: '#/components/schemas/Repo/properties/provider_deployment'
                                provider_forks:
                                    $ref: '#/components/schemas/Repo/properties/provider_forks'
                                provider_status:
                                    $ref: '#/components/schemas/Repo/properties/provider_status'
                                quota:
                                    $ref: '#/components/schemas/Repo/properties/quota'
                                refresh_anchors:
                                    $ref: '#/components/schemas/Repo/properties/refresh_anchors'
                                refresh_day:
                                    $ref: '#/components/schemas/Repo/properties/refresh_day'
                                refresh_hour:
                                    $ref: '#/components/schemas/Repo/properties/refresh_hour'
                                rebuild_orphaned:
                                    $ref: '#/components/schemas/Repo/properties/rebuild_orphaned'
                                rebuild_stale:
                                    $ref: '#/components/schemas/Repo/properties/rebuild_stale'
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           -H "Content-Type: application/json" \
                           -X POST -d '{ "project": "5d810c19f6f8203d5b65ef01", "provider": { "name": "git" }, "repository": { "name": "https://github.com/TugboatQA/demo.git" } }' \
                           https://api.tugboatqa.com/v3/repos
            responses:
                201:
                    description: Successfully created the Repository
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Repo'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                403:
                    description: Permission Denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PermissionDeniedError'
                404:
                    description: Unknown Project
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownProjectError'

    /repos/{id}:
        get:
            summary: Get a Repository
            description: |
            tags:
                - Repositories
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Repository
                  schema:
                      $ref: '#/components/schemas/RepoId'
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           https://api.tugboatqa.com/v3/repos/5d810c19f6f82083ed65ef03
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat list 5d810c19f6f82083ed65ef03
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Repo'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                404:
                    description: Unknown Repository
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownRepoError'

        patch:
            summary: Update a Repository
            description: |
            tags:
                - Repositories
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Repository
                  schema:
                      $ref: '#/components/schemas/RepoId'
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Repo'
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           -H "Content-Type: application/json" \
                           -X PATCH -d '{ "name": "New Repo Name" }' \
                           https://api.tugboatqa.com/v3/repos/5d810c19f6f82083ed65ef03
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat update 5d810c19f6f82083ed65ef03 name="New Repo Name"
            responses:
                200:
                    description: Successfully updated the Repository
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Repo'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                403:
                    description: Permission Denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PermissionDeniedError'
                404:
                    description: Unknown Repository
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownRepoError'

        delete:
            summary: Delete a Repository
            description: |
            tags:
                - Repositories
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Repository
                  schema:
                      $ref: '#/components/schemas/RepoId'
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           -X DELETE \
                           https://api.tugboatqa.com/v3/repos/5d810c19f6f82083ed65ef03
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat delete 5d810c19f6f82083ed65ef03
            responses:
                204:
                    description: Successfully deleted the Repository
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                403:
                    description: Permission Denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PermissionDeniedError'
                404:
                    description: Unknown Repository
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownRepoError'

    /repos/{id}/auth:
        patch:
            summary: Update Provider API Authentication
            description: |
                Updates the provider (Bitbucket / GitLab / GitHub) API authentication credentials for a Repository.

                ### Bitbucket

                When reauthenticating a Bitbucket repository, one of the following sets of `auth` parameters are
                required. If multiple sets are specified, they are tried in the order shown here.

                1. OAuth: `access`
                1. Application Password: `user`, `token`
                1. Username/Password: `user`, `pass`

                When using username/password authentication for a Bitbucket repository , Tugboat **does not** store
                these values. It uses them to acquire an OAuth token from the Bitbucket API, then discards the provided
                username & password values. Username/password authentication cannot be used for Bitbucket accounts with
                2-factor authentication enabled.

                ### GitHub

                When reauthenticating a GitHub repository, one of the following sets of `auth` parameters are required.
                If multiple sets are specified, they are tried in the order shown here.

                1. OAuth: `access`
                1. Personal Access Token: `token`

                ### GitLab

                When reauthenticating a GitLab repository, one of the following sets of `auth` parameters are required.
                If multiple sets are specified, they are tried in the order shown here.

                1. OAuth: `access`
                1. Personal Access Token: `token`
                1. Username/Password: `user`, `pass`

                When using username/password authentication for a GitLab repository , Tugboat **does not** store these
                values. It uses them to acquire an OAuth token from the GitLab API, then discards the provided username
                & password values.

                ### Stash/Bitbucket Server

                When reauthenticating a Stash or Bitbucket Server repository, one of the following sets of `auth`
                parameters are required. If multiple sets are specified, they are tried in the order shown here.

                1. Personal Access Token: `token`
                1. Username/Password: `user`, `pass`

                When using username/password authentication for a Stash or Bitbucket Server repository, Tugboat **DOES
                STORE THESE VALUES** due to limitations on the Stash and Bitbucket Server APIs. If this is the
                authentication method you choose, we recommend setting up a "bot" account on your Stash or Bitbucket
                Server instance for Tugboat.

            tags:
                - Repositories
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Repository
                  schema:
                      $ref: '#/components/schemas/RepoId'
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - auth
                            properties:
                                auth:
                                    type: object
                                    description: Provider authentication information
                                    properties:
                                        token: # API Token or App Password
                                            type: string
                                            description: |
                                                - **Bitbucket** - A Bitbucket application password. Must be paired with a valid `user`
                                                - **GitHub** - A Github personal access token
                                                - **GitLab** - A GitLab personal access token
                                                - **Stash/Bitbucket Server** - A Bitbucket Server personal access token
                                        access: # OAuth Access Token
                                            type: string
                                            description: |
                                                - **Bitbucket** - A Bitbucket OAuth refresh token
                                                - **GitHub** - A GitHub OAuth access token
                                                - **GitLab** - A GitLab OAuth access token
                                        user: # Username/Password/OTP: username
                                            type: string
                                            description: |
                                                - **Bitbucket** - Used for username/password authentication.
                                                - **GitLab** - Used for username/password authentication.
                                                - **Stash/Bitbucket Server** - Used for username/password authentication.
                                        pass: # Username/Password/OTP: password
                                            type: string
                                            description: |
                                                - **Bitbucket** - Used for username/password authentication.
                                                - **GitLab** - Used for username/password authentication.
                                                - **Stash/Bitbucket Server** - Used for username/password authentication.
                                    example:
                                        token: Mae5oghus4eishaeph7ohbei9che2woaDuoxohTh
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           -H "Content-Type: application/json" \
                           -X PATCH -d '{ "auth": { "token": "Mae5oghus4eishaeph7ohbei9che2woaDuoxohTh" } }' \
                           https://api.tugboatqa.com/v3/repos/5d810c19f6f82083ed65ef03/auth
            responses:
                200:
                    description: Successfully updated the Repository
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Repo'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                403:
                    description: Permission Denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PermissionDeniedError'
                404:
                    description: Unknown Repository
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownRepoError'

    /repos/{id}/previews:
        get:
            summary: Get Repository Previews
            description: |
            tags:
                - Repositories
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Repository
                  schema:
                      $ref: '#/components/schemas/RepoId'
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           https://api.tugboatqa.com/v3/repos/5d810c19f6f82083ed65ef03/previews
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat list previews repo=5d810c19f6f82083ed65ef03
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Preview'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                403:
                    description: Permission Denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PermissionDeniedError'
                404:
                    description: Unknown Repository
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownRepoError'

    /repos/{id}/branches:
        get:
            summary: Get Repository Branches
            description: |
            tags:
                - Repositories
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Repository
                  schema:
                      $ref: '#/components/schemas/RepoId'
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           https://api.tugboatqa.com/v3/repos/5d810c19f6f82083ed65ef03/branches
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat list branches 5d810c19f6f82083ed65ef03
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/RepoBranch'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                403:
                    description: Permission Denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
                404:
                    description: Unknown Repository
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownRepoError'

    /repos/{id}/tags:
        get:
            summary: Get Repository Tags
            description: |
            tags:
                - Repositories
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Repository
                  schema:
                      $ref: '#/components/schemas/RepoId'
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           https://api.tugboatqa.com/v3/repos/5d810c19f6f82083ed65ef03/tags
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat list tags 5d810c19f6f82083ed65ef03
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/RepoTag'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                403:
                    description: Permission Denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
                404:
                    description: Unknown Repository
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownRepoError'

    /repos/{id}/pulls:
        get:
            summary: Get Repository Pull Requests
            description: |
            tags:
                - Repositories
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Repository
                  schema:
                      $ref: '#/components/schemas/RepoId'
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           https://api.tugboatqa.com/v3/repos/5d810c19f6f82083ed65ef03/pulls
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat list pulls 5d810c19f6f82083ed65ef03
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/RepoPullRequest'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                403:
                    description: Permission Denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
                404:
                    description: Unknown Repository
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownRepoError'

    /repos/{id}/jobs:
        get:
            summary: Get Repository Jobs
            description: |
            tags:
                - Repositories
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Repository
                  schema:
                      $ref: '#/components/schemas/RepoId'
                - name: action
                  in: query
                  description: Filter Jobs by action
                  schema:
                      type: array
                      items:
                          type: string
                          enum: [keygen, update]
                      default: [keygen, update]
                - name: limit
                  in: query
                  description: Return this many of the most recent results
                  schema:
                      type: integer
                - name: children
                  in: query
                  description:
                      Return jobs for the Previews and Services that belong to the Repository as well as the Project
                      Jobs
                  schema:
                      type: boolean
                      default: false
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           https://api.tugboatqa.com/v3/repos/5d810c19f6f82083ed65ef03/jobs
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat list jobs 5d810c19f6f82083ed65ef03
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/RepoJob'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                403:
                    description: Permission Denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
                404:
                    description: Unknown Repository
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownRepoError'

    /repos/{id}/registries:
        get:
            summary: Get Repository Docker Registries
            description: |
            tags:
                - Repositories
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Repository
                  schema:
                      $ref: '#/components/schemas/RepoId'
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           https://api.tugboatqa.com/v3/repos/5d810c19f6f82083ed65ef03/registries
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat list registries repo=5d810c19f6f82083ed65ef03
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Registry'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                403:
                    description: Permission Denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
                404:
                    description: Unknown Repository
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownRepoError'

    /repos/{id}/statistics/{item}:
        get:
            summary: Get Repository Statistics
            description: |
            tags:
                - Repositories
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Repository
                  schema:
                      $ref: '#/components/schemas/RepoId'
                - name: item
                  in: path
                  required: true
                  description: The requested type of data
                  schema:
                      type: string
                      enum:
                          - build-time
                          - refresh-time
                          - size
                          - previews
                          - services
                - name: limit
                  in: query
                  description: Return this many of the most recent results, applied after any other filters
                  schema:
                      type: integer
                      default: 20
                - name: before
                  in: query
                  description: Only return results that were gathered at or before this date/time
                  schema:
                      type: string
                      format: date-time
                - name: after
                  in: query
                  description: Only return results that were gathered at or after this date/time
                  schema:
                      type: string
                      format: date-time
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           https://api.tugboatqa.com/v3/repos/5d810c19f6f82083ed65ef03/statistics/size
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Statistics'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                403:
                    description: Permission Denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
                404:
                    description: Unknown Repository
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownRepoError'

    /repos/{id}/keygen:
        post:
            summary: Create new SSH Key
            description: Generates a new SSH keypair for the Repository, and replaces the existing keypair.
            tags:
                - Repositories
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Repository
                  schema:
                      $ref: '#/components/schemas/RepoId'
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/SSHKey'
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           -H "Content-Type: application/json" \
                           -X POST -d '{ "type": "rsa", "bits": 4096 }' \
                           https://api.tugboatqa.com/v3/repos/5d810c19f6f82083ed65ef03/keygen
            responses:
                200:
                    description: Successfully updated the Repository
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Repo'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                403:
                    description: Permission Denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PermissionDeniedError'
                404:
                    description: Unknown Repository
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownRepoError'

    ### Previews

    /previews:
        post:
            summary: Create a Preview
            description: |
            tags:
                - Previews
            security:
                - API Key: []
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - ref
                                - repo
                            properties:
                                ref:
                                    type: string
                                    description:
                                        The git ref to build the Preview for. This can be a pull request number, branch,
                                        tag, or commit hash
                                    example: 1234
                                repo:
                                    allOf:
                                        - $ref: '#/components/schemas/RepoId'
                                    description: The ID of the Repository to create the Preview in
                                anchor:
                                    description:
                                        Whether the Preview is used as a default Base Preview for the Repository
                                    type: boolean
                                    default: false
                                anchor_type:
                                    type: string
                                    enum: [repo, branch]
                                    default: repo
                                    description: |
                                        When `anchor` is `true`, this defines how the preview is used as a default Base
                                        Preview

                                        - `repo` - Automatically use this Preview as a Base Preview for all new Previews
                                        built for the Repository

                                        - `branch` - Automatically use this Preview as a Base Preview for new pull
                                        request Previews that merge into the branch used to create this Preview. This
                                        anchor type can only be set on branch Previews
                                base:
                                    type: string
                                    default: default
                                    description: |
                                        Defines which Preview(s) to use as a Base Preview for the Preview being created.

                                        - `default` or not specified - Use matching `branch` and `repo` anchored Base
                                        Previews in the Repository. If there are multiple matching anchored Base
                                        Previews, multiple Previews are created. One for each Base Preview. If there are
                                        no matching Base Previews, the Preview is built with no Base Preview.

                                        - `none` or boolean `false` - Do not use a Base Preview, even if there are
                                        matching anchored Base Previews in the Repository.

                                        - `branch` - For pull request Previews, use `branch` anchored Base Previews
                                        in the Repository that were built from the branch that the pull request wants to
                                        merge into. If there are multiple matching anchored Base Previews, multiple
                                        Previews are created. One for each Base Preview. If there are no matching Base
                                        Previews, the Preview is built with no Base Preview. For other Preview types,
                                        this is equivalent to specifying `none`.

                                        - `repo` - Use `repo` anchored Base Previews in the Repository. If there are
                                        multiple matching anchored Base Previews, multiple Previews are created. One for
                                        each Base Preview. If there are no matching Base Previews, the Preview is built
                                        with no Base Preview.

                                        - `auto` - For pull request Previews, look for **any** preview built from the
                                        branch that the pull request wants to merge into. If found, use the most
                                        recently built as the Base Preview. This option ignores anchored Base Previews.
                                        For other Preview types, this is equivalent to specifying `none`.

                                        - A Preview ID - Use a specific Preview as a Base Preview. Any Preview in the
                                        same Repository can be used as a Base Preview
                                config:
                                    $ref: '#/components/schemas/Preview/properties/config'
                                expires:
                                    type: string
                                    format: date-time
                                    description: If set, the Preview will automatically be deleted at this time
                                    example: 2019-10-07T18:30:18.664Z
                                name:
                                    type: string
                                    description:
                                        A human-readable label for the Preview. If not specified, the `ref` is used
                                type:
                                    type: string
                                    description: |
                                        The type of Preview to create. If not specified, Tugboat attempts to guess the
                                        type by searching for a ref that matches the provided preview name in the
                                        following order. The first matching ref is used for the preview.

                                        1. Pull Request (or Merge Request) number
                                        1. Commit Hash
                                        1. Tag Name
                                        1. Branch Name
                                    enum: [pullrequest, mergerequest, branch, tag, commit]
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           -H "Content-Type: application/json" \
                           -X POST \
                           -d '{ "repo": "5d810c19f6f82083ed65ef03", "ref": "1234", "type": "pullrequest" }' \
                           https://api.tugboatqa.com/v3/previews
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat create preview 1234 type=pullrequest repo=5d810c19f6f82083ed65ef03
            responses:
                202:
                    description: Accepted
                    headers:
                        Content-Location:
                            description: Visit this URL to check the status of the job
                            schema:
                                type: string
                                format: url
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PreviewJob'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                403:
                    description: Permission Denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PermissionDeniedError'
                400:
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'

    /previews/{id}:
        get:
            summary: Get a Preview
            description: |
            tags:
                - Previews
            security:
                - API Key: []
                - URL Token: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Preview
                  schema:
                      $ref: '#/components/schemas/PreviewId'
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           https://api.tugboatqa.com/v3/previews/5d9b842252163ca8a1508c11
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat list 5d9b842252163ca8a1508c11
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Preview'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                404:
                    description: Unknown Preview
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownPreviewError'

        patch:
            summary: Update a Preview
            description: |
            tags:
                - Previews
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Preview
                  schema:
                      $ref: '#/components/schemas/PreviewId'
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Preview'
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           -H "Content-Type: application/json" \
                           -X PATCH -d '{ "locked": true, "anchor": false }' \
                           https://api.tugboatqa.com/v3/previews/5d9b842252163ca8a1508c11
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat update 5d9b842252163ca8a1508c11 locked=true anchor=false
            responses:
                200:
                    description: Successfully updated the Preview
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Preview'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                403:
                    description: Permission Denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PermissionDeniedError'
                404:
                    description: Unknown Preview
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownPreviewError'

        delete:
            summary: Delete a Preview
            description: |
            tags:
                - Previews
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Preview
                  schema:
                      $ref: '#/components/schemas/PreviewId'
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                force:
                                    type: boolean
                                    default: false
                                    description:
                                        When set to `true`, the preview will be deleted even if it is in an invalid
                                        state to be deleted under normal circumstances. This must be set to `true` in
                                        order to delete a base preview. A locked preview cannot be deleted, even by
                                        setting this to `true`
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           -H "Content-Type: application/json" \
                           -X DELETE \
                           -d '{ "force": true }' \
                           https://api.tugboatqa.com/v3/previews/5d9b842252163ca8a1508c11
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat delete -f 5d9b842252163ca8a1508c11
            responses:
                204:
                    description: Successfully deleted the Preview
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                403:
                    description: Permission Denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PermissionDeniedError'
                404:
                    description: Unknown Preview
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownPreviewError'
                409:
                    description: Conflict
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DeletePreviewError'

    /previews/{id}/log:
        get:
            summary: Get Preview Log
            description: Returns the Preview's most recent build log
            tags:
                - Previews
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Preview
                  schema:
                      $ref: '#/components/schemas/PreviewId'
                - name: level
                  in: query
                  description: Filter the log by loglevel
                  schema:
                      type: string
                      enum: [info, stdin, stdout, stderr]
                      default: [info, stdin, stdout, stderr]
                - name: limit
                  in: query
                  description: Only return this many most recent log entries
                  schema:
                      type: integer
                      default: 0
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           https://api.tugboatqa.com/v3/previews/5d9b842252163ca8a1508c11/log
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat log 5d9b842252163ca8a1508c11
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Log'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                403:
                    description: Permission Denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PermissionDeniedError'
                404:
                    description: Unknown Preview
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownPreviewError'

    /previews/{id}/mail:
        get:
            summary: Get Preview Mail
            description: |
            tags:
                - Previews
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Preview
                  schema:
                      $ref: '#/components/schemas/PreviewId'
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           https://api.tugboatqa.com/v3/previews/5d9b842252163ca8a1508c11/mail
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat list mail preview=5d9b842252163ca8a1508c11
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Message'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                403:
                    description: Permission Denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PermissionDeniedError'
                404:
                    description: Unknown Preview
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownPreviewError'

    /previews/{id}/services:
        get:
            summary: Get Preview Services
            description: |
            tags:
                - Previews
            security:
                - API Key: []
                - URL Token: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Preview
                  schema:
                      $ref: '#/components/schemas/PreviewId'
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           https://api.tugboatqa.com/v3/previews/5d9b842252163ca8a1508c11/services
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat list services preview=5d9b842252163ca8a1508c11
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Service'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                403:
                    description: Permission Denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PermissionDeniedError'
                404:
                    description: Unknown Preview
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownPreviewError'

    /previews/{id}/jobs:
        get:
            summary: Get Preview Jobs
            description: |
            tags:
                - Previews
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Preview
                  schema:
                      $ref: '#/components/schemas/PreviewId'
                - name: action
                  in: query
                  description: Filter Jobs by action
                  schema:
                      type: array
                      items:
                          type: string
                          enum: [build, clone, rebuild, refresh, rekey, reset, start, stop, suspend, update]
                      default: [build, clone, rebuild, refresh, rekey, reset, start, stop, suspend, update]
                - name: limit
                  in: query
                  description: Return this many of the most recent results
                  schema:
                      type: integer
                - name: children
                  in: query
                  description: Return jobs for the Services that belong to the Preview as well as the Preview Jobs
                  schema:
                      type: boolean
                      default: false
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           https://api.tugboatqa.com/v3/previews/5d9b842252163ca8a1508c11/jobs
                - lang: Shell
                  label: Tugboat CLI
                  source: |
                      tugboat list jobs 5d9b842252163ca8a1508c11
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/PreviewJob'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                403:
                    description: Permission Denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PermissionDeniedError'
                404:
                    description: Unknown Preview
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownPreviewError'

    /previews/{id}/statistics/{item}:
        get:
            summary: Get Preview Statistics
            tags:
                - Previews
            security:
                - API Key: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: The ID of the Preview
                  schema:
                      $ref: '#/components/schemas/PreviewId'
                - name: item
                  in: path
                  required: true
                  description: The requested type of data
                  schema:
                      type: string
                      enum:
                          - build-time
                          - refresh-time
                          - size
                          - services
                - name: limit
                  in: query
                  description: Return this many of the most recent results, applied after any other filters
                  schema:
                      type: integer
                      default: 20
                - name: before
                  in: query
                  description: Only return results that were gathered at or before this date/time
                  schema:
                      type: string
                      format: date-time
                - name: after
                  in: query
                  description: Only return results that were gathered at or after this date/time
                  schema:
                      type: string
                      format: date-time
            x-code-samples:
                - lang: Shell
                  source: |
                      curl -H "Authorization: Bearer $APIKEY" \
                           https://api.tugboatqa.com/v3/previews/5d9b842252163ca8a1508c11/statistics/size
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Statistics'
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                403:
                    description: Permission Denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PermissionDeniedError'
                404:
                    description: Unknown Preview
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnknownPreviewError'

    /previews/{id}/clone:
        post:
[...]
